<div class="table-wrapper">
    <table mat-table
           [dataSource]="patients?.data"
           multiTemplateDataRows
           class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell
                *matHeaderCellDef
                [ngStyle]="{
                'width': column === 'actions' ? '1px' : 'auto'
            }">
                <ng-container *ngIf="column !== 'actions'">
                    {{column | titlecase}}
                </ng-container>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <ng-container *ngIf="column === 'actions'; else regularTd">
                    <button style="min-width: auto;"
                            mat-raised-button
                            [color]="element?.favourite ? 'warn' : 'primary'"
                            (click)="onFavClick($event, element)">
                        <fa-icon icon="star"></fa-icon>
                    </button>
                </ng-container>
                <ng-template #regularTd>
                    {{column === 'sex' ? element[column]?.name : element[column]}}
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <ul class="list-unstyled">
                        <li *ngIf="element.age">
                            <span>Age:</span>
                            <span>{{element.age}}</span>
                        </li>
                        <li *ngIf="element.sex">
                            <span>Sex:</span>
                            <span>{{element.sex.name}}</span>
                        </li>
                        <li *ngIf="element.address as address">
                            <span>Address:</span>
                            <span>
                                <ng-container *ngIf="address?.country?.name || address?.city?.name; else noAddress">
                                    <span *ngIf="address?.country?.name">
                                        {{address.country.name}}
                                    </span>
                                    <span *ngIf="address?.city?.name">
                                        {{address.city.name}}
                                    </span>
                                </ng-container>
                                <ng-template #noAddress>
                                    -
                                </ng-template>
                            </span>
                        </li>
                        <li *ngIf="element.ids">
                            <span>IDS:</span>
                            <span>
                                <span *ngFor="let idItem of element?.ids">
                                    {{idItem.value}}
                                </span>
                            </span>
                        </li>
                        <li *ngIf="element.code">
                            <span>Code:</span>
                            <span>{{element.code}}</span>
                        </li>
                        <li *ngIf="element.fullName">
                            <span>FullName:</span>
                            <span>{{element.fullName}}</span>
                        </li>
                        <li *ngIf="element.inactive">
                            <span>FullName:</span>
                            <span>{{element.inactive}}</span>
                        </li>
                        <li *ngIf="element.birthDate">
                            <span>BirthDate:</span>
                            <span>
                                {{element.birthDate.formattedDate}}
                            </span>
                        </li>
                        <li *ngIf="element.searchedBy">
                            <span>SearchedBy:</span>
                            <span>
                                <ng-container *ngFor="let item of element.searchedBy | keyvalue">
                                    {{item.key?.toString() | titlecase}}: {{item.value}};
                                </ng-container>
                            </span>
                        </li>
                        <li *ngIf="element.defaultIdType">
                            <span>DefaultIdType:</span>
                            <span>
                                <ng-container *ngFor="let item of element.defaultIdType | keyvalue">
                                    {{item.key?.toString() | titlecase}}: {{item.value}};
                                </ng-container>
                            </span>
                        </li>
                    </ul>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <st-table-shade
            [noData]="!patients?.data?.length"
            [loading]="patients?.loading">
    </st-table-shade>
</div>